.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 25px;
    margin: 0 3%;
    transition: .5s;
}

.navLink:hover {
    transform: scale(1.2);
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: var(--purple)
}